.menu {
  display: flex;
  justify-content: right;
  list-style: none;
  padding-top: -40%;
  margin-right: 10%;
}

.menu a {
  padding: 5px 10px;
  text-decoration: none;
  color: black;
  font-family: "Optima";
  font-weight: bold;
}

h3 {
  margin-bottom: 5%;
}

h1 {
  font-size: 30px;
}

.illustration {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

p {
  font-size: 20px;
  font-family: "Optima";
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  text-align: center;
}

.competences {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px;
  margin-top: 50px;
}

.competences img {
  justify-self: center;
}

/**
 * Base
 */

/** Typography */
body {
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  text-align: center;
}

hr {
  color: red;
  width: 150px;
  margin-top: 3%;
  margin-bottom: 3%;
}

/** Media */
img {
  max-width: 100%;
}

/**
 * Layout
 */

/** Header */
.site-header {
  justify-content: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.site-header__logo {
  height: 70px;
  margin-left: 6%;
  margin-top: 2%;
}

/** Section */
.section {
  padding: 4em 2em;
}

/** Porfolio */
.articles {
  display: grid;
  grid-gap: 100px;
  margin-top: 50px;
}

/** Composition */
.article__img {
  justify-self: center;
}

.intro,
footer,
logofooter,
.articles,
.section__title {
  text-align: center;
}

@media screen and (min-width: 940px) {
  .site-header {
    flex-direction: row;
    align-items: center;
  }
  .site-header__nav {
    margin-left: auto;
  }
  .articles {
    grid-template-columns: repeat(2, 2fr);
  }
}
